<div class="container">
    <!-- <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">1</div>
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">2</div>
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">3</div>
    </div> -->
    <div class="row">
        <div class="col-sm-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>