<form [formGroup]="testForm" (ngSubmit)="submitForm()">
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="email">name</label>
                <input type="email" class="form-control" placeholder="Enter name" formControlName="name">
            </div>

        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="sel2">Mutiple select list (hold shift to select more than one):</label>
                <select class="form-control" id="sel2" formControlName="option">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="email">password</label>
                <input type="email" class="form-control" placeholder="Enter password" formControlName="password">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label for="email">Confirm Password</label>
                <input type="email" class="form-control" placeholder="Enter confirm Password"
                    formControlName="confirmPassword">
            </div>
        </div>
        <div class="col-sm-6">
            <input type="submit" class="btn btn-success" value="Register">
        </div>
    </div>
</form>